# Framework do App
streamlit

# Manipulação de Dados
pandas
openpyxl

# Chaves de API (se você usa .env localmente)
python-dotenv

# Pacotes LangChain (a forma correta)
langchain-google-genai
langchain-agents
